<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>python3 sipgate rest api client</title>
	</head>
		<body>

		<h1>python3 sipgate rest api client</h1>

		<h4>api urls</h4>
		<ul>
			<li><a href="http://127.0.0.1:5000/login">login</a>
			<li><a href="http://127.0.0.1:5000/addresses">addresses</a></li>
			<li><a href="http://127.0.0.1:5000/balance">balance</a>
			<li><a href="http://127.0.0.1:5000/contacts">contacts</a>
 			<li><a href="http://127.0.0.1:5000/devices">devices</a>
 			<li><a href="http://127.0.0.1:5000/numbers">numbers</a>
			<li><a href="http://127.0.0.1:5000/portings">portings</a>
			<li><a href="http://127.0.0.1:5000/users">users</a></li>
		</ul>

		<h4>Documentation</h4>
		<ul>
			<li><a href="http://book.sipgate.io/content/rest-api.html">the sipgate.io cookbook</a>
			<li><a href="https://api.sipgate.com/developer">sipgate developer</a>
			<li><a href="https://api.sipgate.com/doc">swagger</a></li>
		</ul>

	</body>
</html>
